tr(musig(@0,@1)/**)
[73c5da0a/86'/1'/0']tpubDDfvzhdVV4unsoKt5aE6dcsNsfeWbTgmLZPi8LQDYU2xixrYemMfWJ3BaVneH3u7DBQePdTwhpybaKRU95pi6PMUtLPBJLVQRpzEnjfjZzX
[0285c650/86'/1'/0']tpubDCfWKajhbz1bQ6QwMoJ87rLBMEJ3Lxu31Na2wUV7CfXPmcaZeU2UXhauhp4auq3jbBH3R2W8SQN6XTsSj2nzDJ6uAuXBuALfn5hQeoWcAcH
